@()

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Usuário</li>

        <li class="nav-item">
            <a class="nav-link collapsed menu-dashboard" href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed menu-facebook" href="@routes.FacebookResources.abrirPainelIntegracao()">
                <i class="bi bi-facebook"></i>
                <span>Facebook</span>
            </a>
        </li>


        <li class="nav-heading fw-bold">Testes</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="@routes.FacebookResources.recebidos()" target="_blank">
                <i class="bi bi-facebook"></i>
                <span>Webhooks Recebidos</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="@routes.FacebookResources.excluirTodos()" target="_blank">
                <i class="bi bi-facebook"></i>
                <span>Excluir todos Webhooks</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->
