@()

<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-heading">Usuário</li>

        <li class="nav-item">
            <a class="nav-link collapsed menu-dashboard" href="/">
                <i class="bi bi-grid"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed menu-whatsapp" href="/whatsapp">
                <i class="bi bi-whatsapp"></i>
                <span>Whatsapp</span>
            </a>
        </li>
    </ul>

</aside><!-- End Sidebar-->
